.hero4{height: 110px;
      background-image: url(gambar/gb6.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero5{height: 110px;
      background-image: url(gambar/bg7.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero6{height: 110px;
      background-image: url(gambar/bg8.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero7{height: 110px;
      background-image: url(gambar/bg9.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero8{height: 110px;
      background-image: url(gambar/bg11.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero9{height: 110px;
      background-image: url(gambar/bg10.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero10{height: 110px;
      background-image: url(gambar/bg12.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero11{height: 110px;
      background-image: url(gambar/bg13.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero12{height: 110px;
      background-image: url(gambar/bg14.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero13{height: 110px;
      background-image: url(gambar/bg15.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      .hero14{height: 110px;
      background-image: url(gambar/bg16.jpg);
      background-size: cover;
      background-position: 0 0px;
      border-top:13px solid red;
      border-bottom: 5px solid red; }

      /*untuk tablet*/
@media screen and (max-width:1080px)
{
    .badan-utama
    {
        width: 100%;
    }
 
    .menu-kiri
    {
        width: 25%;
    }
 
    .menu-tengah
    {
        width: 68%;
        float: right;
    }
 
    .menu-kanan
    {
        clear: both;
        float: none;
        width: 100%;
    }
}
 
/*untuk android*/
@media screen and (max-width:780px)
{
    header h2, header p
    {
        text-align: center;
    }
 
    .menu-kiri, .menu-kanan, .menu-tengah
    {
        float: none;
        width: 100%;
    }
 
    .navigasi li
    {
        float: none;
    }
}